.profilePicture{
    width: 10em;
    height: 10em;
}

.postTextBox{
    border: 50px solid rgb(117, 161, 209);
    border-radius: 25px;
}

.submitButton{
    text-align: right;
}

.background{
    background-color: rgb(117, 161, 209);
    display: block;
}