<app-navbar></app-navbar>
<div class="user-profile-container">
    <div class="sidebyside">
        <mat-card class="user-profile-card">
            <div *ngIf="user.profilePicture; else userCircle"><img class="profilePicture" src="{{user.profilePicture}}">
            </div>
            <ng-template #userCircle>
                <div class="user-circle"></div>
            </ng-template>
            <mat-divider></mat-divider>
            <p class="profile-card-text" style="padding-top: 1em; font-weight: bold; word-wrap: break-word;">
                {{user.firstName}} {{user.lastName}}
            </p>
            <p class="profile-card-text" style="word-wrap: break-word;">
                {{user.email}}
            </p>

        </mat-card>
    </div>

    <div [ngClass]="['sidebyside', 'user-info-container']">
        <div class="user-info-text">{{user.firstName}} {{user.lastName}}</div>
        <br>
        <div class="user-bio">{{user.aboutMe}}
        </div>
    </div>
    <div style="padding: 1em" [ngClass]="['sidebyside', 'user-stats']">
        <p>{{posts.length}} Posts</p>
    </div>

    <div style="padding: 1em" [ngClass]="['sidebyside', 'user-stats']">
        <app-follow-page [userId]="this.user.userId!"></app-follow-page>
    </div>

    <div [ngClass]="['sidebyside', 'follow-button']" >
        <ng-container *ngIf="userId != pageUserId">
            <app-follow-button [userId]="userId"></app-follow-button>
        </ng-container>
    </div>

    <div class="follow-button">
        <button mat-raised-button color="primary" [routerLink]="['/edit-profile']" *ngIf="userId == pageUserId">Edit Profile</button>
    </div>

    <div [ngClass]="['sidebyside', 'follow-button']">
        <app-event-button [userId]="userId" [firstName]="user.firstName" [pageUser]="pageUserId"></app-event-button>
    </div>

    <div [ngClass]="['sidebyside', 'follow-button']">
      <app-group-button [userId]="userId" [firstName]="user.firstName" [pageUser]="pageUserId"></app-group-button>
  </div>

    <body class="user-profile-body">
        <div style="width: 800px; margin: 0 auto;" img class="postTextBox" *ngIf="userId == pageUserId">
            <div class="background">
                <div>
                    <h2  class = "name"> {{user.firstName}} {{user.lastName}}</h2>
                </div>

                <form class="form" [formGroup]="postInput">
                    <textarea #input name="postTitleTextBox" placeholder="Add a title to your post" cols="106" rows="2" maxlength="100" formControlName="title"></textarea>
                    <div>
                        {{input.value.length || 0}}/100
                    </div>

                    <textarea #input2 name="postTextBox" placeholder="What's on your mind?" cols="106" rows="8" maxlength="255" formControlName="text"></textarea>

                    <div>
                        {{input2.value.length || 0}}/255
                    </div>

                    <textarea #input3 name="imageURLTextBox" placeholder="Add Image URL here" cols="106" rows="2" formControlName="imageUrl"></textarea>
                    <div class="submitButton">
                        <button mat-raised-button color="button-color" (click)="submitPost()">Submit Your Post</button>
                    </div>
                </form>
            </div>
        </div>

        <div style="margin: auto; "id="post-feed" *ngFor="let subPost of posts">
            <ng-container *ngIf="subPost.event == null">
               <app-post [post]="subPost"></app-post>
            </ng-container>
        </div>
    </body>

</div>
