<app-navbar></app-navbar>
<div class="user-profile-container">
    <div class="sidebyside">
        <mat-card class="user-profile-card">
            <div *ngIf="user.profilePicture; else userCircle"><img class="profilePicture" src="{{user.profilePicture}}">
            </div>
            <ng-template #userCircle>
                <div class="user-circle"></div>
            </ng-template>
            <mat-divider></mat-divider>
            <p style="padding-top: 1em; font-weight: bold;">
                {{user.firstName}} {{user.lastName}}
            </p>
            <p>
                {{user.email}}
            </p>
        </mat-card>
    </div>

    <div [ngClass]="['sidebyside', 'user-info-container']">
        <div class="user-info-text">{{user.firstName}} {{user.lastName}}</div>
        <br>
        <div class="user-bio">{{user.aboutMe}}
        </div>
    </div>

    <div [ngClass]="['sidebyside', 'user-stats']">
        <p>{{posts.length}} Posts</p>
    </div>

    <div [ngClass]="['sidebyside', 'user-stats']">
        <app-follow-page [ngClass]="['sidebyside', 'user-stats']" [userId]="user.userId!"> </app-follow-page>
    </div>

    <!-- <div>
        <app-follow-button [userId] = "user.userId"></app-follow-button>
    </div> -->

    <!-- <div [ngClass]="['sidebyside', 'user-stats']">
        <p>{{follower.length}} followers</p>
    </div>
    <div [ngClass]="['sidebyside', 'user-stats']">
        <p> {{following.length}} following</p>
    </div> -->



    <div [ngClass]="['sidebyside', 'follow-button']">
        <button mat-raised-button color="button-color" (click)="followUser()">Follow</button>
    </div>

    <div class="follow-button">
        <button mat-raised-button color="button-color" [routerLink]="['/edit-profile']">Edit Profile</button>
    </div>
<body>
        
       <!-- <mat-form-field appearance="fill" class="width-800; margin:0 auto;">
        <mat-label>Post Text</mat-label>
        <div class="background"><span><h2> {{user.firstName}} {{user.lastName}}</h2></span></div>
        <textarea matInput #input maxlength="500" placeholder="What's on your mind? " [formControl]="postInput"></textarea>
        <mat-hint align="end">{{input.value.length || 0}}/500</mat-hint>
        <div class="submitButton"><button mat-raised-button color="button-color" (click)="submitPost()">Submit Your Post</button></div>
        </mat-form-field> -->



    <div style="width: 800px; margin: 0 auto;" img class="postTextBox">
        <div class="background"><span><h2> {{user.firstName}} {{user.lastName}}</h2></span>
        <form class="form" [formGroup]="postInput">
        <textarea #input name="postTitleTextBox" placeholder="Add a title to your post" cols="106" rows="2" maxlength="100" formControlName="title"></textarea>
        <div>{{input.value.length || 0}}/100</div>
        <textarea #input2 name="postTextBox" placeholder="What's on your mind?" cols="106" rows="8" maxlength="255" formControlName="text"></textarea>
        <div>{{input2.value.length || 0}}/255</div>
        <textarea #input3 name="imageURLTextBox" placeholder="Add Image URL here" cols="106" rows="2" formControlName="imageUrl"></textarea>
        <div class="submitButton"><button mat-raised-button color="button-color" (click)="submitPost()">Submit Your Post</button></div>
    </form> 
            </div>
        </div>



    <div style="margin: auto; "id="post-feed" *ngFor="let subPost of posts">
        <app-post [post]="subPost"></app-post>
</div>

    </body>


</div>