<!-- Display search bar -->
<div class="searchbar" clickOutside (clickOutside)="clickOutside()">
  <button class="search-icon" (click)="searchUser()">Search!</button>
  <input name="searchTerm" type="text" class="input"placeholder="Find a Friend!" size ="135px" [(ngModel)]="searchTerm"
    (keyup)="searchUser()" (click)="onClickShowSearch()" />
  <div class="search-result" *ngIf="showSearch" >
    <div class="page-section">
      <ng-container *ngIf="searchTerm.length!=0">
        <mat-nav-list *ngFor="let user of user; let i = index">
           <a  (click)="goToUserProfile(user.userId!);" [routerLink]="['/user']"
            [queryParams]="{id: user.userId}">
            <mat-card>
            <picture> <img class="search-image" [src]="user.profilePicture"> {{user.firstName}} {{user.lastName}}
            </picture>
          </mat-card>
          </a>
        </mat-nav-list>
      </ng-container>
    </div>
  </div>
</div>
