.searchbar {
    background : white;
    height : 40px;
    width : 50%;
    margin : 1vh 1vh 1vh;
    border-radius: 10px;
    border : 2px solid #E4E4E4;
    display : flex;
    padding : 0.3em;
    transition : .5s;
    float : center;
    position: relative;
}

::placeholder {
    color: black;
    opacity: 1;
}

a{
  color: inherit;
  -webkit-tap-highlight-color: rgb(255, 255, 255);
  cursor: pointer
}

.page-section:first-child{margin-top:0;}

.page-section{
 padding: 10;
 margin-top:60px;
position:relative;
font-size: 13px;
line-height: 2.0;
background:rgb(255, 255, 255)
}

.search-input { 
    width: 100%;
    float : right;
    transition : .5s;
}

button.search-icon {
    transition : .5s;
}

.search-image {
    position : relative;
    width : 40px;
    height : 40px;
}


.search.active {
  position: relative;
  top: 0;
  bottom: 0;
  background: #fff;
  left: 0;
  right: 0;
  z-index: 100;
}

.search.active .input-search {
  width: 1000px;
  margin: 3rem auto;
  display: block;
}

.search-result{
  display: relative;
  max-width: 1000px;
  margin: auto;
  align-self: center;
}

.search-result.active{
  display: list-item;
  padding: 50px
}

.search-image {
  max-width: 16rem;
  margin-right: 3rem;
}

.search-result-content {
  font-size: 2.5rem;
  color: #111;
  padding: 50px
}

.search-result > div {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
  list-style: normal;
  justify-content: center;
}

mat-nav-list{
  display:inline-table;
  align-items:flex-start;
  background: inherit;
  padding: 50px;
  width: 100%;
  max-width: 100px;

}
