<!-- Display search bar -->
<div class="searchbar">
    <input class="search-input" type="text" placeholder="Find a Friend!" id="myInput" name="searchTerm" [(ngModel)]="searchTerm" (keyup)="searchUser()"/>
    <ng-container *ngIf="searchTerm.length!=0">
        <div *ngFor="let user of users; let i = index" id="content" (click)="goToUserProfile(user.userId!);">{{user.firstName}}{{user.lastName}}</div>
    </ng-container>
    <button class="search-icon" (click)="searchUser()">Search!</button>
</div>