
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
    <mat-card-subtitle *ngIf="user.nickname != null">@{{user.nickname}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p *ngIf="!editToComment">{{inputComment.text}}</p>
  
    <img mat-card-image *ngIf="inputComment.imageUrl!=''" src="{{ inputComment.imageUrl }}" alt="Post Image">
    <div class="comment-reply" align="right" *ngIf="creatorUser">
      <form class="form" *ngIf="editToComment" [formGroup]="commentForm" (ngSubmit)="editReply($event)">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Edit your Comment</mat-label>
            <textarea matInput autofocus formControlName="text"></textarea>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Add an Image?</mat-label>
            <input matInput formControlName="imageUrl">
          </mat-form-field>
          <div align="end">
            <button mat-raised-button color="warn" (click)="toggleEditToComment()">Cancel</button>
            <button mat-raised-button color="warn" (click)="deleteComment()">Delete</button>
            <button mat-raised-button color="primary" type="submit">Edit</button>
          </div></form></div>
          <button mat-raised-button color="primary" type="submit" (click)="toggleEditToComment()">Edit</button>
          <button mat-raised-button color="primary" class="comment-reply-text" type="submit" (click)="toggleReplyToComment()">Reply</button>
          
</mat-card-content>
</mat-card>

<div class="comment-reply" align="right">
    <div class="comment-reply" align="right">
      <form class="form" *ngIf="replyToComment" [formGroup]="commentForm" (ngSubmit)="submitReply($event)">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Make a Comment</mat-label>
          <textarea matInput autofocus formControlName="text"></textarea>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Add an Image?</mat-label>
            <input matInput formControlName="imageUrl">
        </mat-form-field>
        <div align="end">
          <button mat-raised-button color="warn" (click)="toggleReplyToComment()">Cancel</button>
          <button mat-raised-button color="primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  

  
<div *ngFor="let comment of comments" class="comment-container">
    <mat-divider></mat-divider>
    <app-comment *ngIf="comment.postId != 0" [comment]="comment"></app-comment>
</div>