.comment-text {
  margin: 20px 10px;
}

button {
  margin-right: 5px;
}

.comment-picture {
  border: 1px solid black;
  width: 600px;
  min-height: 600px;
  max-height: 600px;
  align-items: center;
}

.name:hover{
  text-decoration: underline;
  color:rgb(255, 115, 0);
  cursor: pointer;
}
