<mat-card class="user-card">

    <!-- <div class="user-circle"></div> -->
    <div *ngIf="user.profilePicture; else userCircle"><img class="profilePicture" src="{{user.profilePicture}}"></div>
    <ng-template #userCircle><div class="user-circle"></div></ng-template>
    
    <mat-divider></mat-divider>
    <p style="padding-top: 1em; font-weight: bold;">
        {{user.firstName}} {{user.lastName}}
    </p>
    <p>
        {{user.email}}
    </p>
    <button mat-stroked-button [routerLink]="['/bookmark-page']"> {{user.firstName}}'s bookmarks </button>
    
</mat-card>

<mat-card-actions >
    <!-- can put in the numbers of followers and following  -->
    <button mat-raised-button color="primary" [routerLink]="['/follow-page', user.userId, 1]"> Followers</button>
    <button mat-raised-button color="primary" [routerLink]="['/follow-page',user.userId, 2 ]"> Following</button>
</mat-card-actions>
