<mat-card class="user-card">

    <!-- <div class="user-circle"></div> -->
    <div *ngIf="user.profilePicture; else userCircle"><img class="profilePicture" src="{{user.profilePicture}}"></div>
    <ng-template #userCircle><div class="user-circle"></div></ng-template>
    
    <mat-divider></mat-divider>
    <p style="padding-top: 1em; font-weight: bold; word-wrap: break-word;">
        {{user.firstName}} {{user.lastName}}
    </p>
    <p style="word-wrap: break-word;">
        {{user.email}}
    </p>
    <!-- <button [routerLink]="['/bookmark-page']"> {{user.firstName}}'s bookmarks </button> -->
</mat-card>


