<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <strong class="error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required'); else emailError">
          This field is required
        </strong>
        <ng-template #emailError>
          <strong class="error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')">
            This email is not valid
          </strong>
        </ng-template>
        <mat-form-field class="full-width">
          <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
        <strong class="error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
          This field is required
        </strong>
        <strong class="error" *ngIf="emailPasswordError">
          The email and password combination is incorrect
        </strong>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">Log in</button>
    </form>

    <div><a class="login-rerout-link" [routerLink]="['/register']">Don't have an account?</a></div>
    <div><a class="login-rerout-link-password" [routerLink]="['/forgetpassword']">Forget Password</a></div>
  </mat-card>
</div>
