<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit($event)">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Password" type="password" formControlName="password">
          <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <strong class="error" *ngIf="emailPasswordError == true">
          The email and password combination is incorrect
        </strong>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">Log in</button>
    </form>

    <div class="row omb_row-sm-offset-3" >
      <a [routerLink]="['/register']">Don't have an account?</a>
      <a class="login-rerout-link" [routerLink]="['/forgetpassword']" style="margin-top: -7px;">Forgot Password</a>
    </div>
  </mat-card>
</div>
