<app-navbar></app-navbar>
<h2 style="text-align:center">Edit Profile</h2>
<div class="user-circle-profile"></div>
<!-- <button class="upload-picture-button" mat-raised-button color="button-color">Upload Profile Picture</button> -->
<!-- <div>
    <button class="upload-picture-button" align="center" mat-raised-button color="button-color">Upload Profile Picture</button>
</div> -->

<mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
        <div class="example-container">
          <mat-form-field appearance="fill" class="width-50">
            <mat-label>First Name</mat-label>
            <input matInput placeholder={{updateUser.firstName}} [(ngModel)]="updateUser.firstName">
          </mat-form-field>
      
          <mat-form-field appearance="fill" class="width-50 ml-2">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder={{updateUser.lastName}} [(ngModel)]="updateUser.lastName">
          </mat-form-field>
          <br>

          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="updateUser.nickname">
          </mat-form-field>
          <br>

          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Email address</mat-label>
            <input matInput placeholder={{updateUser.email}} [(ngModel)]="updateUser.email">
          </mat-form-field>
          <br>

          <mat-form-field appearance="fill" class="width-100">
            <mat-label>Enter new password</mat-label>
            <input type="password" matInput [(ngModel)]="updateUser.password">
          </mat-form-field>
          <br>

          <mat-form-field hintLabel="Max 181 characters" appearance="fill" class="width-100">
            <mat-label>About Me</mat-label>
            <textarea matInput #input maxlength="181" placeholder="Ex. I'm saucy" [(ngModel)]="updateUser.aboutMe"></textarea>
            <mat-hint align="end">{{input.value.length || 0}}/181</mat-hint>
          </mat-form-field>
          <br>

          <div class="example-button-row">
            <button class="button-space" mat-raised-button color="button-color" (click)="fileUpload.click()">Upload Profile Picture</button>
            <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
            <button class="button-space" mat-raised-button color="primary" (click)="UpdateUser()">Confirm</button>
            <button class="button-space" mat-stroked-button [routerLink]="['/profile']">Cancel</button>
          </div>
          
        </div>
    </mat-grid-tile>
</mat-grid-list>

