<app-navbar></app-navbar>
<h2 style="text-align:center">Edit Profile</h2>
<div *ngIf="user.profilePicture; else userCircle"><img class="profilePicture" src="{{user.profilePicture}}"></div>
    <ng-template #userCircle class="user-circle-profile"><div class="user-circle-profile"></div></ng-template>

<mat-grid-list cols="1" rowHeight="600px">
    <mat-grid-tile>
        <div class="example-container">
  
              <mat-form-field appearance="fill" class="width-50">
              <mat-label>First Name</mat-label>
              <input matInput [(ngModel)]="user.firstName">
            </mat-form-field>
        
            <mat-form-field appearance="fill" class="width-50 ml-2">
              <mat-label>Last Name</mat-label>
              <input matInput [(ngModel)]="user.lastName">
            </mat-form-field>
            <br>

            <mat-form-field appearance="fill" class="width-100">
              <mat-label>Username</mat-label>
              <input matInput [(ngModel)]="user.nickname">
            </mat-form-field>
            <br>

            <mat-form-field appearance="fill" class="width-100">
              <mat-label>Email address</mat-label>
              <input matInput [(ngModel)]="user.email">
            </mat-form-field>
            <br>

            <mat-form-field appearance="fill" class="width-100">
              <mat-label>Enter new password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]=" 'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon> {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <br>

            <mat-form-field appearance="fill" class="width-100">
              <mat-label>Insert Picture URL</mat-label>
              <input matInput [(ngModel)]="user.profilePicture">
            </mat-form-field>
            <br>

            <mat-form-field hintLabel="Max 181 characters" appearance="fill" class="width-100">
              <mat-label>About Me</mat-label>
              <textarea matInput #input maxlength="181" placeholder="Ex. I'm saucy" [(ngModel)]="user.aboutMe"></textarea>
              <mat-hint align="end">{{input.value.length || 0}}/181</mat-hint>
            </mat-form-field>
            <br>

            <div class="example-button-row">
              <button class="button-space" mat-raised-button color="button-color" (click)="deleteAccount()">Delete Account</button>
              <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
              <button class="button-space" mat-raised-button color="primary" (click)="UpdateUser()">Confirm</button>
              <button class="button-space" mat-stroked-button [routerLink]="['/profile']">Cancel</button>
            </div>
          
        </div>
    </mat-grid-tile>
</mat-grid-list>

