.personal_info {
    float: left;
}

.close {
    float: right;

}

#submit {
    position: fixed;
    bottom: 22%;
    right: 22%;
    background-color: bisque;
}

#picture_url {
    width: 600px;
}

#picture {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-color: bisque;
    position: fixed;
    right: 40%;
    bottom: 40%
}