<!-- <h2 mat-dialog-title>Edit Profile</h2>
<div mat-dialog-content>
    <p>First</p>

</div> -->


<div class="main">
    <div class="personal_info">
        <mat-form-field class="first_name" appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput [(ngModel)]="_updateUser.firstName" [formControl]="firstNameFormControl"  autocomplete="off">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="_updateUser.firstName!=''" (click)="clearFirstName()">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="firstNameFormControl.hasError('required')">
                First Name is <strong>required</strong>
            </mat-error>
        </mat-form-field><br><br>

        <mat-form-field class="first_name" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput  [(ngModel)]="_updateUser.lastName" [formControl]="lastNameFormControl"  autocomplete="off">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="_updateUser.lastName!=''" (click)="clearLastName()">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="lastNameFormControl.hasError('required')">
                Last Name is <strong>required</strong>
            </mat-error>
        </mat-form-field><br><br>

        <mat-form-field class="first_name" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="_updateUser.email" [formControl]="emailFormControl"  autocomplete="off">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="_updateUser.email!=''" (click)="clearEmail()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br><br>


        <!-- <mat-form-field class="first_name" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="_updateUser.username" [formControl]="usernameFormControl"  autocomplete="off">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="_updateUser.username!=''" (click)="clearUsername()">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="usernameFormControl.hasError('required')">
                Username is <strong>required</strong>
            </mat-error>
        </mat-form-field><br><br>


        <mat-form-field class="first_name" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="_updateUser.password" [formControl]="passwordFormControl"  autocomplete="off">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="_updateUser.password!=''" (click)="clearPassword()">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="passwordFormControl.hasError('pattern') && !passwordFormControl.hasError('required')">
                Password must be <strong>8 minimum characters</strong>, and contain <strong>at least</strong> 1 uppercase, 1 lowercase, 1 number, and 1 special character
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong> and must be a minimum 8 characters
            </mat-error>
        </mat-form-field><br><br>


        <mat-form-field id="picture_url" appearance="fill">
            <mat-label>Picture URL</mat-label>
            <input matInput [(ngModel)]="_updateUser.picture" autocomplete="off">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="_updateUser.picture!=''" (click)="clearPicture()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br><br> -->

        <!-- <app-missing-info *ngIf="_info==true"></app-missing-info> -->

    </div>

    <!-- <div class="profile_picture">
        <img id="picture" [(src)]="_updateUser.picture" alt="avatar">
    </div>   -->

    <button id="submit" mat-raised-button (click)="onSubmit()">Submit</button>
</div>

