<p class="navbar">
    <mat-toolbar>
        <span [routerLink]="['/post-feed']" style="cursor: pointer;">Revvi</span> 
        <app-search-bar></app-search-bar>
        <span class="spacer"></span>
        <button mat-icon-button routerLink="/profile/{{userId}}" ><mat-icon>account_circle</mat-icon></button>
        <button mat-icon-button [routerLink]="['/bookmark-page']"><mat-icon>bookmark</mat-icon></button>
        <button mat-button (click)="logout();">Logout</button>
    </mat-toolbar>
</p>