<p>
    <mat-toolbar>
        <span [routerLink]="['/post-feed']">Revvi</span>
        <span class="spacer"></span>
        <button mat-icon-button [routerLink]="['/profile']" ><mat-icon>account_circle</mat-icon></button>
        <button mat-icon-button [routerLink]="['/bookmark-page']"><mat-icon>bookmark</mat-icon></button>
        <button mat-button (click)="logout();">Logout</button>
        <button mat-button [routerLink]="['/likes']"><mat-icon>edit</mat-icon></button>
    </mat-toolbar>
</p>