<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>

    <form class="form" [formGroup]="emailForm" (ngSubmit)="onSubmitEmail($event)" *ngIf="showEmailForm">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <strong class="error"
          *ngIf="emailForm.get('email')?.touched && emailForm.get('email')?.hasError('required'); else emailError">
          This field is required
        </strong>
        <ng-template #emailError>
          <strong class="error" *ngIf="emailForm.get('email')?.touched && emailForm.get('email')?.hasError('email')">
            This email is not valid
          </strong>

        </ng-template>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">Submit</button>
    </form>
    <form class="form" [formGroup]="securityForm" (ngSubmit)="onSubmitSecurity($event)" *ngIf="showSecurityForm">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="{{securityQuestion[0].question}}" formControlName="securityAnswer">
        </mat-form-field>
        <strong class="error"
          *ngIf="securityForm.get('securityAnswer')?.touched && securityForm.get('securityAnswer')?.hasError('required')">
          This field is required
        </strong>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">Submit</button>
    </form>

    <form class="form" [formGroup]="createPasswordForm" (ngSubmit)="onSubmitPassword($event)" *ngIf="showPasswordForm">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="New Password" type="password" formControlName="newPassword">
        </mat-form-field>
        <strong class="error"
          *ngIf="createPasswordForm.get('newPassword')?.touched && createPasswordForm.get('newPassword')?.hasError('required'); else passwordError">
          This field is required
        </strong>
        <ng-template #passwordError>
          <strong class="error"
            *ngIf="createPasswordForm.get('newPassword')?.touched && createPasswordForm.get('newPassword')?.hasError('minLength')">
            This password is not valid
          </strong>
        </ng-template>
        <mat-form-field class="full-width">
          <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword">
        </mat-form-field>
        <strong class="error"
          *ngIf="createPasswordForm.get('confirmPassword')?.touched && createPasswordForm.get('confirmPassword')?.hasError('required'); else passwordError">
          This field is required
        </strong>
        <ng-template #passwordError>
          <strong class="error"
            *ngIf="createPasswordForm.get('confirmPassword')?.touched && createPasswordForm.get('confirmPassword')?.hasError('minLength')">
            This password is not valid
          </strong>
        </ng-template>
      </mat-card-content>
      <strong class="error"
      *ngIf="notConfirmPassword" >
      This password is not confirmd!
    </strong>
      <button mat-stroked-button color="accent" class="btn-block" type="submit">Submit</button>
    </form>

  </mat-card>
</div>