<app-navbar></app-navbar>

<div class="sidebyside">
    <app-user-card style="position: fixed;"></app-user-card>
</div>

<div [ngClass]="['sidebyside', 'post-feed-container']" style="margin-left: 200px;">
    <form class="form" *ngIf="!createPost; else createPostTemplate" style="width: 75%;">
        <mat-form-field class="full-width" appearance="fill" style="width: 100%">
            <mat-label>Something on your mind?</mat-label>
            <input matInput (focus)="toggleCreatePost()">
        </mat-form-field>
    </form>

    <ng-template #createPostTemplate>
        <form class="form" [formGroup]="postForm" (ngSubmit)="submitPost($event)">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Post Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Make a Post</mat-label>
                <textarea matInput autofocus formControlName="text"></textarea>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Add an Image?</mat-label>
                <input matInput formControlName="imageUrl">
            </mat-form-field>

            <div align="end" style="width: 75%">
                <button mat-raised-button color="warn" (click)="toggleCreatePost()">Cancel</button>
                <button mat-raised-button color="primary" (click)="submitPost($event)" style="margin-left: 7px;">Post</button>
            </div>
        </form>
    </ng-template>
    
    <div id="post-feed" *ngFor="let post of posts" style="width: 75%;">
        <ng-container *ngIf="post.event == null && post.group == null">
            <app-post [post]="post"></app-post>
        </ng-container>
    </div>
</div>
