<div [ngClass]="['sidebyside', 'user-stats']">
    <p>{{followerListUsers.length}}</p> 
</div>

<div [ngClass]="['sidebyside', 'user-stats']">
    <p (click)="displayFollowers()" style="cursor: pointer; text-decoration: underline; margin-left: 5px;">Followers</p> 
</div>

<div style="margin-left: 25px"[ngClass]="['sidebyside', 'user-stats']">
    <p>{{followingListUsers.length}}</p>
</div>

<div [ngClass]="['sidebyside', 'user-stats']">
    <p (click)="displayFollowing()" style="cursor: pointer; text-decoration: underline; margin-left: 5px;">Following</p>
</div>
