<div class="post-card">
    <mat-card>
        <mat-card-header style="display: flex; justify-content: space-between;">
            <mat-card-title>
                <div class="user">
                    <img mat-card-avatar *ngIf="post.user.profilePicture != null && post.user.profilePicture!=''" style="margin-right: 15px;" class="header-image"  src="{{ post.user.profilePicture }}">
                </div>
                <div class="user" style="position: absolute; top: 25px">                   
                    {{post.user.firstName}} {{post.user.lastName}}
                    <mat-card-subtitle *ngIf="post.user.nickname != null">@{{post.user.nickname}}</mat-card-subtitle>
                </div> 
            </mat-card-title>
            <app-bookmark [post]="post"></app-bookmark>

        </mat-card-header>
        
        <mat-card-content>
            <mat-card>
                <mat-card-title *ngIf="post.title != null" align="center" >{{post.title}}</mat-card-title>
                <mat-divider></mat-divider>
                <br>
                <p style="margin-left: 10px; margin-right: 10px;">{{post.text}}</p> 
            </mat-card><br>
            <div align="center">
                <img class="post-image" mat-card-image *ngIf="post.imageUrl != ''" src="{{ post.imageUrl }}" alt="Post Image">
            </div>
            
             
            <div class="comment-reply" align="right" *ngIf="creatorUser">
                <form class="form" *ngIf="editToPost" [formGroup]="commentForm" (ngSubmit)="editPost($event)">
                  <mat-form-field class="full-width" appearance="fill">
                      <mat-label>Edit your Reply</mat-label>
                      <textarea matInput autofocus formControlName="text"></textarea>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Add an Image?</mat-label>
                        <input matInput formControlName="imageUrl">
                      </mat-form-field>
                    <div align="end">
                      <button mat-raised-button color="warn" (click)="toggleEditToPost()">Cancel</button>
                      <button mat-raised-button color="warn" (click)="deletePost()" style="margin-left: 8px">Delete</button>
                      <button mat-raised-button color="primary" type="submit" style="margin-left: 8px">Submit</button>
                    </div>
                </form>
            </div>
        </mat-card-content>
        <mat-card-actions align="end">

            <app-likes [postId]="post.postId" style="margin-left: 8px"></app-likes>
            <button mat-raised-button *ngIf="creatorUser" color="primary" (click)="toggleEditToPost()">Edit</button>
            <button mat-raised-button color="primary" (click)="toggleReplyToPost()">Reply</button>
        </mat-card-actions>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary" *ngIf="showComments==true" (click)="toggleComments()" >Hide Comments</button>
            <button mat-raised-button color="primary" *ngIf="showComments==false" (click)="toggleComments()">Show Comments</button>
        </mat-card-actions>
        <form class="form" *ngIf="replyToPost" [formGroup]="commentForm" (ngSubmit)="submitReply($event)">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Make a Comment</mat-label>
                <textarea matInput autofocus formControlName="text"></textarea>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Add an Image?</mat-label>
                <input matInput formControlName="imageUrl">
            </mat-form-field>
            <div align="end">
                <button mat-raised-button color="warn" (click)="toggleReplyToPost()">Cancel</button>
                <button mat-raised-button color="primary" type="submit" style="margin-left: 8px">Post</button>
            </div>
        </form>
        <div *ngIf="showComments ==true">
        <div *ngFor="let comment of comments" class="comment-container">
            <mat-divider></mat-divider>
            <app-comment [comment]="comment" (delete)="deleteComment($event)"></app-comment>
        </div>  </div>
    </mat-card>
</div>
