<div class="post-card">
    <mat-card>
        <mat-card-header>
            <ng-container *ngIf="user.profilePicture != null">
                <img mat-card-avatar class="header-image"  src="{{ user.profilePicture }}">
            </ng-container>
            <mat-card-title>{{post.user.firstName}} {{post.user.lastName}}</mat-card-title>
            <mat-card-subtitle *ngIf="post.user.nickname != null">@{{post.user.nickname}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image *ngIf="post.imageUrl != ''" src="{{ post.imageUrl }}" alt="Post Image">
        <button class="btn-follow" (click)="followUser(post.user.userId)"> follow</button>
        <mat-card-content>
            <h3>{{post.title}}</h3>
            <p>{{post.text}}</p>  
            <div class="comment-reply" align="right" *ngIf="creatorUser">
                <form class="form" *ngIf="editToPost" [formGroup]="commentForm" (ngSubmit)="editPost($event)">
                  <mat-form-field class="full-width" appearance="fill">
                      <mat-label>Edit your Reply</mat-label>
                      <textarea matInput autofocus formControlName="text"></textarea>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>Add an Image?</mat-label>
                        <input matInput formControlName="imageUrl">
                      </mat-form-field>
                    <div align="end">
                      <button mat-raised-button color="warn" (click)="toggleEditToPost()">Cancel</button>
                      <button mat-raised-button color="warn" (click)="deletePost()">Delete</button>
                      <button mat-raised-button color="primary" type="submit">Edit</button>
                    </div></form></div>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button *ngIf="creatorUser" color="primary" (click)="toggleEditToPost()">Edit</button>
            <button mat-raised-button color="primary" (click)="bookmarkPosts(post.postId || 0)"> bookmark</button>
            <button mat-raised-button color="primary" (click)="toggleReplyToPost()">Reply</button>
        </mat-card-actions>
        <form class="form" *ngIf="replyToPost" [formGroup]="commentForm" (ngSubmit)="submitReply($event)">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Make a Comment</mat-label>
                <textarea matInput autofocus formControlName="text"></textarea>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Add an Image?</mat-label>
                <input matInput formControlName="imageUrl">
            </mat-form-field>
            <div align="end">
                <button mat-raised-button color="warn" (click)="toggleReplyToPost()">Cancel</button>
                <button mat-raised-button color="primary" type="submit">Post</button>
            </div>
        </form>
        <div *ngFor="let comment of comments" class="comment-container">
            <mat-divider></mat-divider>
            <app-comment [comment]="comment" (delete)="deleteComment($event)"></app-comment>
        </div>  
    </mat-card>
</div>
